<!doctype html>
<html lang="en">

    <head>

        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-52115242-13"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
              function gtag(){dataLayer.push(arguments);}
              gtag('js', new Date());
            
              gtag('config', 'UA-52115242-13');
        </script>

        <meta charset="utf-8">
        <title>Wingman Bootstrap Theme</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="A robust suite of app and landing page templates by Medium Rare">
        <link href="https://fonts.googleapis.com/css?family=Rubik:300,400,400i,500" rel="stylesheet">
        <link href="assets/css/socicon.css" rel="stylesheet" type="text/css" media="all" />
        <link href="assets/css/entypo.css" rel="stylesheet" type="text/css" media="all" />
        <link href="assets/css/theme.css" rel="stylesheet" type="text/css" media="all" />
    </head>

    <body>

        <div class="nav-container">
            <div class="bg-dark navbar-dark" data-sticky="top">
                <div class="container">
                    <nav class="navbar navbar-expand-lg">
                        <a class="navbar-brand" href="index.html">
                            <img alt="Wingman" src="assets/img/logo-white.svg" />
                        </a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                            <i class="icon-menu h4"></i>
                        </button>
                        <div class="collapse navbar-collapse justify-content-between" id="navbarNav">
                            <ul class="navbar-nav">
                                <li class="nav-item">
                                    <a href="index.html" class="nav-link">Overview</a>
                                </li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="app-chat.html#" id="pagesDropdown" role="button" data-toggle="dropdown">Pages</a>
                                    <div class="dropdown-menu" aria-labelledby="pagesDropdown">

                                        <a class="dropdown-item" href="pages-landing.html">
                                            <span class="h6 mb-0">Landing Pages</span>
                                            <p class="text-small text-muted">Showcase your product in style</p>
                                        </a>

                                        <div class="dropdown-divider"></div>


                                        <a class="dropdown-item" href="pages-app.html">
                                            <span class="h6 mb-0">App Pages</span>
                                            <p class="text-small text-muted">Build detailed, functional web apps</p>
                                        </a>

                                        <div class="dropdown-divider"></div>


                                        <a class="dropdown-item" href="pages-inner.html">
                                            <span class="h6 mb-0">Inner Pages</span>
                                            <p class="text-small text-muted">Complete your online presence</p>
                                        </a>


                                    </div>
                                </li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="app-chat.html#" id="componentsDropdown" role="button" data-toggle="dropdown">Components</a>
                                    <div class="dropdown-menu" aria-labelledby="componentsDropdown">

                                        <a class="dropdown-item" href="components-bootstrap.html">Bootstrap</a>

                                        <a class="dropdown-item" href="components-wingman.html">Wingman</a>

                                    </div>
                                </li>
                            </ul>
                            <form class="form-inline col p-0 pl-md-2 pr-md-3">
                                <input class="form-control w-100" type="search" placeholder="Search" aria-label="Search">
                            </form>



                            <ul class="navbar-nav">
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle dropdown-toggle-no-arrow p-lg-0" href="http://example.com" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <img alt="Image" src="assets/img/avatar-male-3.jpg" class="avatar avatar-xs" />
                                        <span class="badge badge-danger">8</span>
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-sm dropdown-menu-right" aria-labelledby="dropdown01">
                                        <a class="dropdown-item" href="app-chat.html#">Notifications <span class="badge badge-danger">8</span></a>
                                        <a class="dropdown-item" href="app-chat.html#">Profile</a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" href="app-chat.html#">Settings</a>
                                        <a class="dropdown-item" href="app-chat.html#">Groups</a>
                                        <a class="dropdown-item" href="app-chat.html#">Log out</a>
                                    </div>
                                </li>
                            </ul>

                        </div>
                        <!--end nav collapse-->
                    </nav>
                </div>
                <!--end of container-->
            </div>
        </div>
        <div class="main-container">
            <nav aria-label="breadcrumb" role="navigation" class="bg-primary text-white">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="index.html">Home</a>
                                </li>
                                <li class="breadcrumb-item"><a href="pages-app.html">App Pages</a>
                                </li>


                                <li class="breadcrumb-item active" aria-current="page">Chat</li>
                            </ol>
                        </div>
                        <!--end of col-->
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </nav>
            <section>
                <div class="container">
                    <div class="row card flex-row">
                        <div class="col-auto">
                            <form class="card-header d-none d-lg-block">
                                <input class="form-control form-control-lg" type="search" placeholder="Search chat" />
                            </form>
                            <div class="list-group list-group-chat list-group-flush">

                                <a href="app-chat.html#" class="list-group-item list-group-item-action active">
                                    <div class="media">
                                        <img alt="Image" src="assets/img/avatar-male-4.jpg" class="avatar avatar-sm m-0" />
                                        <div class="media-body d-none d-lg-block ml-2">
                                            <div class="d-flex justify-content-between align-items-center">
                                                <h6 class="mb-0">Daniel Cameron
                                                    <span class="badge badge-indicator badge-success"></span>
                                                </h6>
                                                <div>
                                                    <small class="text-muted">1 hour ago</small>
                                                </div>
                                            </div>
                                            <span class="text-muted text-small col-11 p-0 text-truncate d-block">Let's keep those protoypes 100</span>
                                        </div>
                                    </div>
                                </a>

                                <a href="app-chat.html#" class="list-group-item list-group-item-action">
                                    <div class="media">
                                        <img alt="Image" src="assets/img/avatar-female-3.jpg" class="avatar avatar-sm m-0" />
                                        <div class="media-body d-none d-lg-block ml-2">
                                            <div class="d-flex justify-content-between align-items-center">
                                                <h6 class="mb-0">Mercy Ketteridge</h6>
                                                <div>
                                                    <small class="text-muted">1 hour ago</small>
                                                </div>
                                            </div>
                                            <span class="text-muted text-small col-11 p-0 text-truncate d-block">How should I go about this issue I'm facing</span>
                                        </div>
                                    </div>
                                </a>

                                <a href="app-chat.html#" class="list-group-item list-group-item-action">
                                    <div class="media">
                                        <img alt="Image" src="assets/img/avatar-male-3.jpg" class="avatar avatar-sm m-0" />
                                        <div class="media-body d-none d-lg-block ml-2">
                                            <div class="d-flex justify-content-between align-items-center">
                                                <h6 class="mb-0">Sven Lansson</h6>
                                                <div>
                                                    <small class="text-muted">2 hours ago</small>
                                                </div>
                                            </div>
                                            <span class="text-muted text-small col-11 p-0 text-truncate d-block">Can you send through the logo files?</span>
                                        </div>
                                    </div>
                                </a>

                                <a href="app-chat.html#" class="list-group-item list-group-item-action">
                                    <div class="media">
                                        <img alt="Image" src="assets/img/avatar-male-2.jpg" class="avatar avatar-sm m-0" />
                                        <div class="media-body d-none d-lg-block ml-2">
                                            <div class="d-flex justify-content-between align-items-center">
                                                <h6 class="mb-0">Bart Van Wissen</h6>
                                                <div>
                                                    <small class="text-muted">7 hours ago</small>
                                                </div>
                                            </div>
                                            <span class="text-muted text-small col-11 p-0 text-truncate d-block">I'm collecting names for the annual event</span>
                                        </div>
                                    </div>
                                </a>

                                <a href="app-chat.html#" class="list-group-item list-group-item-action">
                                    <div class="media">
                                        <img alt="Image" src="assets/img/avatar-female-1.jpg" class="avatar avatar-sm m-0" />
                                        <div class="media-body d-none d-lg-block ml-2">
                                            <div class="d-flex justify-content-between align-items-center">
                                                <h6 class="mb-0">Vanessa Sampson</h6>
                                                <div>
                                                    <small class="text-muted">7 hours ago</small>
                                                </div>
                                            </div>
                                            <span class="text-muted text-small col-11 p-0 text-truncate d-block">Are we all remembering to stay agile?</span>
                                        </div>
                                    </div>
                                </a>

                            </div>
                        </div>
                        <!--end of col-->
                        <div class="col">
                            <div class="card-header d-flex justify-content-between align-items-center">

                                <div class="media align-items-center">
                                    <img alt="Image" src="assets/img/avatar-male-4.jpg" class="avatar avatar-sm" />
                                    <div class="media-body">
                                        <h6 class="mb-0 d-block">Daniel Cameron
                                            <span class="badge badge-indicator badge-success"></span>
                                        </h6>
                                        <span class="text-muted text-small">last seen today at 2:15pm</span>
                                    </div>
                                </div>

                                <div class="dropdown">
                                    <button class="btn btn-outline-secondary dropdown-toggle dropdown-toggle-no-arrow" type="button" id="Button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="icon-chevron-down"></i>
                                    </button>
                                    <div class="dropdown-menu dropdown-menu-right dropdown-menu-sm" aria-labelledby="Button">
                                        <a class="dropdown-item" href="app-chat.html#">Contact info</a>
                                        <a class="dropdown-item" href="app-chat.html#">Mute</a>
                                        <a class="dropdown-item" href="app-chat.html#">Clear messages</a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" href="app-chat.html#">Delete chat</a>
                                    </div>
                                </div>
                            </div>
                            <!--end card header-->
                            <div class="card-body overflow-auto">

                                <div class="row justify-content-start">
                                    <div class="col-auto">
                                        <div class="card bg-secondary">
                                            <div class="card-body p-2">

                                                <p class="mb-0">
                                                    Agreed, their after-sales support is second-to-none.
                                                </p>
                                                <div>

                                                    <small class="opacity-60">1:08pm</small>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row justify-content-end text-right">
                                    <div class="col-auto">
                                        <div class="card bg-primary text-white">
                                            <div class="card-body p-2">

                                                <p class="mb-0">
                                                    Same! The guys at Medium Rare are also top blokes
                                                </p>
                                                <div>

                                                    <i class="icon-check text-small"></i>

                                                    <small class="opacity-60">1:07pm</small>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row justify-content-start">
                                    <div class="col-auto">
                                        <div class="card bg-secondary">
                                            <div class="card-body p-2">

                                                <p class="mb-0">
                                                    Yeah talk about speedy, it saves me so much time and effort &#x1F44C;
                                                </p>
                                                <div>

                                                    <small class="opacity-60">1:06pm</small>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row justify-content-end text-right">
                                    <div class="col-auto">
                                        <div class="card bg-primary text-white">
                                            <div class="card-body p-2">

                                                <p class="mb-0">
                                                    I know, right? We've been using Wingman for all our internal projects for a while now
                                                </p>
                                                <div>

                                                    <i class="icon-check text-small"></i>

                                                    <small class="opacity-60">1:05pm</small>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row justify-content-start">
                                    <div class="col-auto">
                                        <div class="card bg-secondary">
                                            <div class="card-body p-2">

                                                <p class="mb-0">
                                                    Of course, I'm not a fool!
                                                </p>
                                                <div>

                                                    <small class="opacity-60">1:05pm</small>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row justify-content-end text-right">
                                    <div class="col-auto">
                                        <div class="card bg-primary text-white">
                                            <div class="card-body p-2">

                                                <p class="mb-0">
                                                    Awesome, did you make it with Wingman?
                                                </p>
                                                <div>

                                                    <i class="icon-check text-small"></i>

                                                    <small class="opacity-60">1:05pm</small>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row justify-content-start">
                                    <div class="col-auto">
                                        <div class="card bg-secondary">
                                            <div class="card-body p-2">

                                                <p class="mb-0">
                                                    Yes, all synced to the drive for you guys &#x1F44D;
                                                </p>
                                                <div>

                                                    <small class="opacity-60">1:04pm</small>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row justify-content-end text-right">
                                    <div class="col-auto">
                                        <div class="card bg-primary text-white">
                                            <div class="card-body p-2">

                                                <p class="mb-0">
                                                    Hey, what's up? Did you manage to get those prototypes together?
                                                </p>
                                                <div>

                                                    <i class="icon-check text-small"></i>

                                                    <small class="opacity-60">1:04pm</small>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row mb-4">
                                    <div class="col text-center">
                                        <span class="badge badge-secondary">Conversation Started: Yesterday</span>
                                    </div>
                                    <!--end of col-->
                                </div>
                            </div>
                            <div class="card-footer bg-secondary">
                                <form class="d-flex align-items-center">
                                    <div class="input-group input-group-lg">
                                        <div class="input-group-prepend">
                                            <button class="btn btn-secondary" type="button">
                                                <i class="icon-attachment"></i>
                                            </button>
                                        </div>
                                        <input class="form-control" type="text" placeholder="Type a message" name="message" />
                                    </div>
                                    <button class="btn btn-link pr-0">
                                        <span class="h3">&#x1F600;</span>
                                    </button>
                                </form>
                            </div>
                        </div>
                        <!--end of col-->
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </section>
            <!--end of section-->
            <footer class="footer-short">
                <div class="container">
                    <hr>
                    <nav class="row justify-content-between align-items-center">
                        <div class="col-auto">
                            <ul class="list-inline">
                                <li class="list-inline-item">
                                    <a href="app-chat.html#">
                                        <img alt="Image" src="assets/img/logo-gray.svg" />
                                    </a>
                                </li>
                                <li class="list-inline-item">
                                    <a href="app-chat.html#">Overview</a>
                                </li>
                                <li class="list-inline-item">
                                    <a href="app-chat.html#">Documentation</a>
                                </li>
                                <li class="list-inline-item">
                                    <a href="app-chat.html#">Changelog</a>
                                </li>
                            </ul>
                        </div>
                        <!--end of col-->
                        <div class="col-auto text-sm-right">
                            <ul class="list-inline">
                                <li class="list-inline-item">
                                    <a href="app-chat.html#"><i class="socicon-twitter"></i></a>
                                </li>
                                <li class="list-inline-item">
                                    <a href="app-chat.html#"><i class="socicon-facebook"></i></a>
                                </li>
                            </ul>
                        </div>
                        <!--end of col-->
                    </nav>
                    <!--end of row-->
                    <div class="row">
                        <div class="col">
                            <small>&copy; 2018 Medium Rare All Rights Reserved</small>
                        </div>
                        <!--end of col-->
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </footer>
        </div>


        <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.13.0/umd/popper.min.js"></script>
        <script type="text/javascript" src="assets/js/jquery.smartWizard.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/flickity/2.0.10/flickity.pkgd.min.js"></script>
        <script type="text/javascript" src="assets/js/scrollMonitor.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/smooth-scroll/12.1.5/js/smooth-scroll.polyfills.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.10.0/prism.min.js"></script>
        <script type="text/javascript" src="assets/js/zoom.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="assets/js/theme.js"></script>

    </body>

</html>
