<!doctype html>
<html lang="en">

    <head>

        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-52115242-13"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
              function gtag(){dataLayer.push(arguments);}
              gtag('js', new Date());
            
              gtag('config', 'UA-52115242-13');
        </script>

        <meta charset="utf-8">
        <title>Wingman Bootstrap Theme</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="A robust suite of app and landing page templates by Medium Rare">
        <link href="https://fonts.googleapis.com/css?family=Rubik:300,400,400i,500" rel="stylesheet">
        <link href="assets/css/socicon.css" rel="stylesheet" type="text/css" media="all" />
        <link href="assets/css/entypo.css" rel="stylesheet" type="text/css" media="all" />
        <link href="assets/css/theme.css" rel="stylesheet" type="text/css" media="all" />
    </head>

    <body>

        <div class="nav-container">
        </div>
        <div class="main-container">
            <section class="fullwidth-split">
                <div class="container-fluid">
                    <div class="row no-gutters height-100 justify-content-center">
                        <div class="col-12 col-lg-6 fullwidth-split-image bg-dark d-flex justify-content-center align-items-center">
                            <img alt="Image" src="assets/img/photo-man-diary.jpg" class="bg-image position-absolute opacity-30" />
                            <div class="col-12 col-sm-8 col-lg-9 text-center pt-5 pb-5">
                                <img alt="Image" src="assets/img/logo-white.svg" class="mb-4 logo-lg" />
                                <span class="h3 mb-5">Build great products and join a community of happy designers</span>

                                <div class="card text-left">
                                    <div class="card-body">
                                        <div class="media">
                                            <img alt="Image" src="assets/img/avatar-female-2.jpg" class="avatar" />
                                            <div class="media-body">
                                                <p class="mb-1">
                                                    “Using other templates just doesn’t feel the same anymore - none have the polish and intuitive design of Wingman”
                                                </p>
                                                <small>Lucille Freebody, Product Designer</small>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <!--end of col-->
                        </div>
                        <!--end of col-->
                        <div class="col-12 col-sm-8 col-lg-6 fullwidth-split-text">
                            <div class="col-12 col-lg-8 align-self-center">
                                <div class="text-center mb-5">
                                    <h1 class="h2 mb-2">Get started</h1>
                                    <span>Start creating beautiful products immediately</span>
                                </div>
                                <form class="mb-4">
                                    <div class="form-group">
                                        <label for="signup-email">Email Address</label>
                                        <input class="form-control form-control-lg" type="email" name="email" id="signup-email" placeholder="Email Address" />
                                    </div>
                                    <div class="form-group">
                                        <label for="signup-password">Choose a password</label>
                                        <input class="form-control form-control-lg" type="password" name="password" id="signup-password" placeholder="Enter a password" />
                                        <small>At least seven characters with one numeral</small>
                                    </div>
                                    <div>
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" value="agree" name="agree-terms" id="check-agree">
                                            <label class="custom-control-label text-small" for="check-agree">I agree to the <a href="app-account-create.html#">Terms &amp; Conditions</a>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="text-center mt-4">
                                        <button type="submit" class="btn btn-lg btn-success">Create Account</button>
                                    </div>
                                </form>
                                <div class="text-center">
                                    <span class="text-small">Already have an account? <a href="app-account-create.html#">Log in here</a>
                                    </span>
                                </div>
                            </div>
                            <!--end of col-->
                        </div>
                        <!--end of col-->
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </section>
            <!--end of section-->
        </div>


        <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.13.0/umd/popper.min.js"></script>
        <script type="text/javascript" src="assets/js/jquery.smartWizard.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/flickity/2.0.10/flickity.pkgd.min.js"></script>
        <script type="text/javascript" src="assets/js/scrollMonitor.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/smooth-scroll/12.1.5/js/smooth-scroll.polyfills.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.10.0/prism.min.js"></script>
        <script type="text/javascript" src="assets/js/zoom.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="assets/js/theme.js"></script>

    </body>

</html>
