<!doctype html>
<html lang="en">

    <head>

        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-52115242-13"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
              function gtag(){dataLayer.push(arguments);}
              gtag('js', new Date());
            
              gtag('config', 'UA-52115242-13');
        </script>

        <meta charset="utf-8">
        <title>Wingman Bootstrap Theme</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="A robust suite of app and landing page templates by Medium Rare">
        <link href="https://fonts.googleapis.com/css?family=Rubik:300,400,400i,500" rel="stylesheet">
        <link href="assets/css/socicon.css" rel="stylesheet" type="text/css" media="all" />
        <link href="assets/css/entypo.css" rel="stylesheet" type="text/css" media="all" />
        <link href="assets/css/theme.css" rel="stylesheet" type="text/css" media="all" />
    </head>

    <body>

        <div class="nav-container">
            <div class="bg-dark navbar-dark" data-sticky="top">
                <div class="container">
                    <nav class="navbar navbar-expand-lg">
                        <a class="navbar-brand" href="index.html">
                            <img alt="Wingman" src="assets/img/logo-white.svg" />
                        </a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                            <i class="icon-menu h4"></i>
                        </button>
                        <div class="collapse navbar-collapse justify-content-between" id="navbarNav">
                            <ul class="navbar-nav">
                                <li class="nav-item">
                                    <a href="index.html" class="nav-link">Overview</a>
                                </li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="app-account-settings.html#" id="pagesDropdown" role="button" data-toggle="dropdown">Pages</a>
                                    <div class="dropdown-menu" aria-labelledby="pagesDropdown">

                                        <a class="dropdown-item" href="pages-landing.html">
                                            <span class="h6 mb-0">Landing Pages</span>
                                            <p class="text-small text-muted">Showcase your product in style</p>
                                        </a>

                                        <div class="dropdown-divider"></div>


                                        <a class="dropdown-item" href="pages-app.html">
                                            <span class="h6 mb-0">App Pages</span>
                                            <p class="text-small text-muted">Build detailed, functional web apps</p>
                                        </a>

                                        <div class="dropdown-divider"></div>


                                        <a class="dropdown-item" href="pages-inner.html">
                                            <span class="h6 mb-0">Inner Pages</span>
                                            <p class="text-small text-muted">Complete your online presence</p>
                                        </a>


                                    </div>
                                </li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="app-account-settings.html#" id="componentsDropdown" role="button" data-toggle="dropdown">Components</a>
                                    <div class="dropdown-menu" aria-labelledby="componentsDropdown">

                                        <a class="dropdown-item" href="components-bootstrap.html">Bootstrap</a>

                                        <a class="dropdown-item" href="components-wingman.html">Wingman</a>

                                    </div>
                                </li>
                            </ul>
                            <form class="form-inline col p-0 pl-md-2 pr-md-3">
                                <input class="form-control w-100" type="search" placeholder="Search" aria-label="Search">
                            </form>



                            <ul class="navbar-nav">
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle dropdown-toggle-no-arrow p-lg-0" href="http://example.com" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <img alt="Image" src="assets/img/avatar-male-3.jpg" class="avatar avatar-xs" />
                                        <span class="badge badge-danger">8</span>
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-sm dropdown-menu-right" aria-labelledby="dropdown01">
                                        <a class="dropdown-item" href="app-account-settings.html#">Notifications <span class="badge badge-danger">8</span></a>
                                        <a class="dropdown-item" href="app-account-settings.html#">Profile</a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" href="app-account-settings.html#">Settings</a>
                                        <a class="dropdown-item" href="app-account-settings.html#">Groups</a>
                                        <a class="dropdown-item" href="app-account-settings.html#">Log out</a>
                                    </div>
                                </li>
                            </ul>

                        </div>
                        <!--end nav collapse-->
                    </nav>
                </div>
                <!--end of container-->
            </div>
        </div>
        <div class="main-container">
            <nav aria-label="breadcrumb" role="navigation" class="bg-primary text-white">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="index.html">Home</a>
                                </li>
                                <li class="breadcrumb-item"><a href="pages-app.html">App Pages</a>
                                </li>


                                <li class="breadcrumb-item active" aria-current="page">Account Settings</li>
                            </ol>
                        </div>
                        <!--end of col-->
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </nav>
            <section class="bg-white space-sm pb-4">
                <div class="container">
                    <div class="row justify-content-between align-items-center">
                        <div class="col-auto">
                            <h1 class="h2">Account Settings</h1>
                        </div>
                        <!--end of col-->
                        <div class="col-auto text-right">
                            <a href="app-account-settings.html#" class="btn btn-success">Upgrade to Pro</a>
                        </div>
                        <!--end of col-->
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </section>
            <!--end of section-->
            <section class="flush-with-above space-0">
                <div class="bg-white">
                    <div class="container">
                        <div class="row">
                            <div class="col">
                                <ul class="nav nav-tabs" id="myTab" role="tablist">
                                    <li class="nav-item">
                                        <a class="nav-link active" id="overview-tab" data-toggle="tab" href="app-account-settings.html#general" role="tab" aria-controls="general" aria-selected="true">General</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="billing-tab" data-toggle="tab" href="app-account-settings.html#billing" role="tab" aria-controls="billing" aria-selected="false">Billing</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="security-tab" data-toggle="tab" href="app-account-settings.html#security" role="tab" aria-controls="security" aria-selected="false">Security</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="notifications-tab" data-toggle="tab" href="app-account-settings.html#notifications" role="tab" aria-controls="notifications" aria-selected="false">Notifications</a>
                                    </li>
                                </ul>
                            </div>
                            <!--end of col-->
                        </div>
                        <!--end of row-->
                    </div>
                    <!--end of container-->
                </div>
            </section>
            <section class="flush-with-above height-80 d-block">
                <div class="tab-content">
                    <div class="tab-pane fade show active" id="general" role="tabpanel" aria-labelledby="general-tab">
                        <div class="container">
                            <div class="row">
                                <div class="col-12">
                                    <div class="media flex-wrap mb-0 align-items-center">
                                        <img alt="Image" src="assets/img/avatar-male-3.jpg" class="avatar avatar-lg mb-3 mb-md-0" />
                                        <div class="media-body">
                                            <form>
                                                <label class="custom-file mb-2" for="file2">
                                                    <input type="file" id="file2" class="custom-file-input height-0">
                                                    <span class="btn btn-primary"><i class="icon-upload-to-cloud">&nbsp;</i>Upload</span>
                                                </label>
                                                <div>
                                                    <small>For best results, use an image at least 256px by 256px in either .jpg or .png format</small>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                <!--end of col-->
                            </div>
                            <!--end of row-->
                            <hr>
                            <div class="row mb-4">
                                <div class="col">
                                    <h5>Account Details</h5>
                                </div>
                                <!--end of col-->
                            </div>
                            <!--end of row-->
                            <div class="row">
                                <div class="col-12 col-md-4 order-md-2">
                                    <div class="alert alert-info text-small" role="alert">
                                        <i class="icon-shield"></i>
                                        <span>
                                            Your information is always kept encrypted and can never be accessed by third parties.
                                        </span>
                                        <a href="app-account-settings.html#">See our privacy policy</a>
                                    </div>
                                </div>
                                <!--end of col-->
                                <div class="col-12 col-md-8 order-md-1">
                                    <form class="row">
                                        <div class="col-6">
                                            <div class="form-group">
                                                <label for="first-name">First Name:
                                                    <span class="text-red">*</span>
                                                </label>
                                                <input class="form-control form-control-lg" type="text" name="firstName" value="Alannah" id="first-name" />
                                            </div>
                                        </div>
                                        <div class="col-6">
                                            <div class="form-group">
                                                <label for="last-name">Last Name:</label>
                                                <input class="form-control form-control-lg" type="text" name="lastName" value="Cunningham" id="last-name" />
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <div class="form-group">
                                                <label for="username">Username:
                                                    <span class="text-red">*</span>
                                                </label>
                                                <input class="form-control form-control-lg" type="text" name="userName" id="username" />
                                                <small>This will be displayed on your public profile</small>
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <div class="form-group">
                                                <label for="emailaddress">Email Address:
                                                    <span class="text-red">*</span>
                                                </label>
                                                <input class="form-control form-control-lg" type="email" name="emailAddress" id="emailaddress" />
                                                <small>Used to log in to your account</small>
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <div class="form-group">
                                                <button class="btn btn-secondary" type="submit" disabled>Save changes</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <!--end of col-->
                            </div>
                            <!--end of row-->
                            <hr>
                            <div class="row mb-4">
                                <div class="col">
                                    <h5>Profile Information</h5>
                                </div>
                                <!--end of col-->
                            </div>
                            <!--end of row-->
                            <div class="row">
                                <div class="col-12 col-md-4 order-md-2">
                                    <div class="alert alert-info text-small" role="alert">
                                        <i class="icon-user"></i>
                                        <span>
                                            This information will appear on your public profile. A detailed public profile helps users with similar professional interests and location to connect with you.
                                        </span>
                                        <a href="app-account-settings.html#">View your public profile</a>
                                    </div>
                                </div>
                                <!--end of col-->
                                <div class="col-12 col-md-8 order-md-1">
                                    <form class="row">
                                        <div class="col-6">
                                            <div class="form-group">
                                                <label for="city">City:</label>
                                                <input class="form-control form-control-lg" type="text" name="profileCity" value="Melbourne" id="city" />
                                            </div>
                                        </div>
                                        <div class="col-6">
                                            <div class="form-group">
                                                <label for="country">Country:</label>
                                                <input class="form-control form-control-lg" type="text" name="profileCountry" value="Australia" id="country" />
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <div class="form-group">
                                                <label for="website">Website:</label>
                                                <input class="form-control form-control-lg" type="text" name="profileWebsite" id="website" />
                                                <small>This will be displayed on your public profile</small>
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <div class="form-group">
                                                <label for="twitter">Twitter Handle:</label>
                                                <div class="input-group input-group-lg">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text">@</span>
                                                    </div>
                                                    <input type="text" class="form-control" placeholder="Username" aria-label="twitterUsername" name="profileTwitter" id="twitter">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <div class="form-group">
                                                <label for="about-me">About me:</label>
                                                <textarea class="form-control form-control-lg" name="profileBio" rows="4" id="about-me"></textarea>
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <div class="form-group">
                                                <div class="custom-control custom-checkbox custom-checkbox-switch">
                                                    <input type="checkbox" class="custom-control-input" name="profilePublic" id="public" />
                                                    <label class="custom-control-label" for="public">Make my profile public</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <div class="form-group">
                                                <button class="btn btn-secondary" type="submit" disabled>Save changes</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <!--end of col-->
                            </div>
                            <!--end of row-->
                        </div>
                        <!--end of container-->
                    </div>
                    <!--end of tab pane-->
                    <div class="tab-pane fade" id="billing" role="tabpanel" arialabelledby="billing-tab">
                        <div class="container">
                            <div class="row mb-4">
                                <div class="col">
                                    <h5>Payment Methods</h5>
                                </div>
                                <!--end of col-->
                            </div>
                            <!--end of row-->
                            <div class="row">
                                <div class="col-12">
                                    <form>
                                        <table class="table align-items-center">
                                            <thead>
                                                <tr>
                                                    <th scope="col">Card Type</th>
                                                    <th scope="col">Card Number</th>
                                                    <th scope="col">Default Payment Method</th>
                                                    <th scope="col">Remove</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <th scope="row">
                                                        <img alt="Image" src="assets/img/logo-payment-visa.svg" class="avatar avatar-sm" />
                                                    </th>
                                                    <td>
                                                        <span class="d-block">&bull;&bull;&bull;&bull; &bull;&bull;&bull;&bull; &bull;&bull;&bull;&bull; 8372</span>
                                                        <small class="text-muted">Exp: 06/22</small>
                                                    </td>
                                                    <td>
                                                        <div class="custom-control custom-radio">
                                                            <input id="radio1" name="payment-default" type="radio" class="custom-control-input" checked />
                                                            <label class="custom-control-label" for="radio1"></label>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <button type="submit" class="btn btn-sm btn-danger"><i class="icon-squared-cross"></i> Remove card</button>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">
                                                        <img alt="Image" src="assets/img/logo-payment-amex.svg" class="avatar avatar-sm avatar-square" />
                                                    </th>
                                                    <td>
                                                        <span class="d-block">&bull;&bull;&bull;&bull; &bull;&bull;&bull;&bull; &bull;&bull;&bull;&bull; 1225</span>
                                                        <small class="text-muted">Exp: 07/21</small>
                                                    </td>
                                                    <td>
                                                        <div class="custom-control custom-radio">
                                                            <input id="radio2" name="payment-default" type="radio" class="custom-control-input">
                                                            <label class="custom-control-label" for="radio2"></label>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <button type="submit" class="btn btn-sm btn-danger"><i class="icon-squared-cross"></i> Remove card</button>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <button class="btn btn-success">Add new card</button>
                                    </form>
                                </div>
                                <!--end of col-->
                            </div>
                            <!--end of row-->
                        </div>
                        <!--end of container-->
                    </div>
                    <!--end of tab pane-->
                    <div class="tab-pane fade" id="notifications" role="tabpanel" aria-labelledby="notifications-tab">
                        <div class="container">
                            <div class="row">
                                <div class="col-12">
                                    <div class="alert alert-info text-small mb-0" role="alert">
                                        <i class="icon-shield"></i>
                                        <span>
                                            We will never distribute your email address to third parties. Read about email communication in our privacy policy.
                                        </span>
                                        <a href="app-account-settings.html#">View privacy policy &rsaquo;</a>
                                    </div>
                                </div>
                                <!--end of col-->
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-12">
                                    <form>
                                        <h5 class="mb-4">Notification Preferences</h5>
                                        <div>
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" name="notify-mention" checked id="notify-mention">
                                                <label class="custom-control-label" for="notify-mention">Someone mentions me</label>
                                            </div>
                                        </div>
                                        <div>
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" name="notify-request" checked id="notify-follow">
                                                <label class="custom-control-label" for="notify-follow">Someone follows me</label>
                                            </div>
                                        </div>
                                        <div>
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" name="notify-share" checked id="notify-share">
                                                <label class="custom-control-label" for="notify-share">Someone shares my activty</label>
                                            </div>
                                        </div>
                                        <div>
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" name="notify-message" checked id="notify-message">
                                                <label class="custom-control-label" for="notify-message">Someone messages me</label>
                                            </div>
                                        </div>
                                        <div>
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" name="notify-adds" checked id="notify-adds">
                                                <label class="custom-control-label" for="notify-adds">Someone adds me to a project</label>
                                            </div>
                                        </div>
                                        <div>
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" name="notify-sales" id="notify-sales">
                                                <label class="custom-control-label" for="notify-sales">Sales and promotions</label>
                                            </div>
                                        </div>
                                        <button type="submit" class="btn btn-secondary mt-4" disabled>Update preferences</button>
                                    </form>
                                </div>
                                <!--end of col-->
                            </div>
                            <!--end of row-->
                            <hr>
                            <div class="row">
                                <div class="col-12">
                                    <form>
                                        <h5>Notification Frequency</h5>
                                        <div>
                                            <div class="custom-control custom-radio">
                                                <input id="notify-daily" type="radio" class="custom-control-input" value="notify-daily" name="notify-frequency">
                                                <label class="custom-control-label" for="notify-daily">Daily</label>
                                            </div>
                                        </div>
                                        <div>
                                            <div class="custom-control custom-radio">
                                                <input id="notify-weekly" type="radio" class="custom-control-input" value="notify-weekly" name="notify-frequency" checked>
                                                <label class="custom-control-label" for="notify-weekly">Weekly</label>
                                            </div>
                                        </div>
                                        <div>
                                            <div class="custom-control custom-radio">
                                                <input id="notify-monthly" type="radio" class="custom-control-input" value="notify-monthly" name="notify-frequency">
                                                <label class="custom-control-label" for="notify-monthly">Monthly</label>
                                            </div>
                                        </div>
                                        <div>
                                            <div class="custom-control custom-radio">
                                                <input id="notify-never" type="radio" class="custom-control-input" value="notify-never" name="notify-frequency">
                                                <label class="custom-control-label" for="notify-never">Never</label>
                                            </div>
                                        </div>
                                        <button type="submit" class="btn btn-secondary mt-4" disabled>Update frequency</button>
                                    </form>
                                </div>
                                <!--end of col-->
                            </div>
                            <!--end of row-->
                        </div>
                        <!--end of container-->
                    </div>
                </div>
                <!--end of tabs content-->
            </section>
            <!--end of section-->
            <footer class="footer-short">
                <div class="container">
                    <hr>
                    <nav class="row justify-content-between align-items-center">
                        <div class="col-auto">
                            <ul class="list-inline">
                                <li class="list-inline-item">
                                    <a href="app-account-settings.html#">
                                        <img alt="Image" src="assets/img/logo-gray.svg" />
                                    </a>
                                </li>
                                <li class="list-inline-item">
                                    <a href="app-account-settings.html#">Overview</a>
                                </li>
                                <li class="list-inline-item">
                                    <a href="app-account-settings.html#">Documentation</a>
                                </li>
                                <li class="list-inline-item">
                                    <a href="app-account-settings.html#">Changelog</a>
                                </li>
                            </ul>
                        </div>
                        <!--end of col-->
                        <div class="col-auto text-sm-right">
                            <ul class="list-inline">
                                <li class="list-inline-item">
                                    <a href="app-account-settings.html#"><i class="socicon-twitter"></i></a>
                                </li>
                                <li class="list-inline-item">
                                    <a href="app-account-settings.html#"><i class="socicon-facebook"></i></a>
                                </li>
                            </ul>
                        </div>
                        <!--end of col-->
                    </nav>
                    <!--end of row-->
                    <div class="row">
                        <div class="col">
                            <small>&copy; 2018 Medium Rare All Rights Reserved</small>
                        </div>
                        <!--end of col-->
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </footer>
        </div>


        <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.13.0/umd/popper.min.js"></script>
        <script type="text/javascript" src="assets/js/jquery.smartWizard.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/flickity/2.0.10/flickity.pkgd.min.js"></script>
        <script type="text/javascript" src="assets/js/scrollMonitor.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/smooth-scroll/12.1.5/js/smooth-scroll.polyfills.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.10.0/prism.min.js"></script>
        <script type="text/javascript" src="assets/js/zoom.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="assets/js/theme.js"></script>

    </body>

</html>
