<!doctype html>
<html lang="en">

    <head>

        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-52115242-13"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
              function gtag(){dataLayer.push(arguments);}
              gtag('js', new Date());
            
              gtag('config', 'UA-52115242-13');
        </script>

        <meta charset="utf-8">
        <title>Wingman Bootstrap Theme</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="A robust suite of app and landing page templates by Medium Rare">
        <link href="https://fonts.googleapis.com/css?family=Rubik:300,400,400i,500" rel="stylesheet">
        <link href="assets/css/socicon.css" rel="stylesheet" type="text/css" media="all" />
        <link href="assets/css/entypo.css" rel="stylesheet" type="text/css" media="all" />
        <link href="assets/css/theme.css" rel="stylesheet" type="text/css" media="all" />
    </head>

    <body>

        <div class="nav-container">
        </div>
        <div class="main-container">
            <section class="space-sm">
                <div class="container align-self-start">
                    <div class="row mb-5">
                        <div class="col text-center">
                            <a href="app-account-reset-password.html#">
                                <img alt="Image" src="assets/img/logo-gray.svg" />
                            </a>
                        </div>
                        <!--end of col-->
                    </div>
                    <!--end of row-->
                    <div class="row justify-content-center">
                        <div class="col-12 col-md-8 col-lg-7">
                            <div class="card card-lg text-center">
                                <div class="card-body">
                                    <div class="mb-4">
                                        <h2 class="mb-2">Reset password</h2>
                                        <span>Enter email address to reset password</span>
                                    </div>
                                    <div class="row no-gutters justify-content-center">
                                        <form class="text-left col-lg-8">
                                            <div class="form-group">
                                                <label for="reset-email">Email Address</label>
                                                <input class="form-control form-control-lg" type="email" name="email" id="reset-email" placeholder="Email Address" />
                                            </div>
                                            <div class="text-center mb-4">
                                                <button type="submit" class="btn btn-primary btn-lg">Reset password</button>
                                            </div>
                                        </form>
                                    </div>
                                    <!--end of row-->
                                </div>
                            </div>
                        </div>
                        <!--end of col-->
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </section>
            <!--end of section-->
        </div>


        <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.13.0/umd/popper.min.js"></script>
        <script type="text/javascript" src="assets/js/jquery.smartWizard.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/flickity/2.0.10/flickity.pkgd.min.js"></script>
        <script type="text/javascript" src="assets/js/scrollMonitor.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/smooth-scroll/12.1.5/js/smooth-scroll.polyfills.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.10.0/prism.min.js"></script>
        <script type="text/javascript" src="assets/js/zoom.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="assets/js/theme.js"></script>

    </body>

</html>
