<!doctype html>
<html lang="en">

    <head>

        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-52115242-13"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
              function gtag(){dataLayer.push(arguments);}
              gtag('js', new Date());
            
              gtag('config', 'UA-52115242-13');
        </script>

        <meta charset="utf-8">
        <title>Wingman Bootstrap Theme</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="A robust suite of app and landing page templates by Medium Rare">
        <link href="https://fonts.googleapis.com/css?family=Rubik:300,400,400i,500" rel="stylesheet">
        <link href="assets/css/socicon.css" rel="stylesheet" type="text/css" media="all" />
        <link href="assets/css/entypo.css" rel="stylesheet" type="text/css" media="all" />
        <link href="assets/css/theme.css" rel="stylesheet" type="text/css" media="all" />
    </head>

    <body>

        <div class="nav-container">
            <div class="bg-dark navbar-dark" data-sticky="top">
                <div class="container">
                    <nav class="navbar navbar-expand-lg">
                        <a class="navbar-brand" href="index.html">
                            <img alt="Wingman" src="assets/img/logo-white.svg" />
                        </a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                            <i class="icon-menu h4"></i>
                        </button>
                        <div class="collapse navbar-collapse justify-content-between" id="navbarNav">
                            <ul class="navbar-nav">
                                <li class="nav-item">
                                    <a href="index.html" class="nav-link">Overview</a>
                                </li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="blog-grid.html#" id="pagesDropdown" role="button" data-toggle="dropdown">Pages</a>
                                    <div class="dropdown-menu" aria-labelledby="pagesDropdown">

                                        <a class="dropdown-item" href="pages-landing.html">
                                            <span class="h6 mb-0">Landing Pages</span>
                                            <p class="text-small text-muted">Showcase your product in style</p>
                                        </a>

                                        <div class="dropdown-divider"></div>


                                        <a class="dropdown-item" href="pages-app.html">
                                            <span class="h6 mb-0">App Pages</span>
                                            <p class="text-small text-muted">Build detailed, functional web apps</p>
                                        </a>

                                        <div class="dropdown-divider"></div>


                                        <a class="dropdown-item" href="pages-inner.html">
                                            <span class="h6 mb-0">Inner Pages</span>
                                            <p class="text-small text-muted">Complete your online presence</p>
                                        </a>


                                    </div>
                                </li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="blog-grid.html#" id="componentsDropdown" role="button" data-toggle="dropdown">Components</a>
                                    <div class="dropdown-menu" aria-labelledby="componentsDropdown">

                                        <a class="dropdown-item" href="components-bootstrap.html">Bootstrap</a>

                                        <a class="dropdown-item" href="components-wingman.html">Wingman</a>

                                    </div>
                                </li>
                            </ul>

                            <ul class="navbar-nav">
                                <li class="nav-item">
                                    <a href="blog-grid.html#">Sign up</a>
                                    <span>&nbsp;or&nbsp;</span><a href="blog-grid.html#">Sign in</a>
                                </li>
                            </ul>

                        </div>
                        <!--end nav collapse-->
                    </nav>
                </div>
                <!--end of container-->
            </div>
        </div>
        <div class="main-container">
            <section class="space-lg">
                <img alt="Image" src="assets/img/graphic-bg-clouds-5.png" class="bg-image" />
                <div class="container">
                    <div class="row mb-4 justify-content-center text-center">
                        <div class="col-12 col-md-10 col-lg-9">
                            <h1 class="display-4">Great design articles, daily.</h1>
                            <span class="lead">Subscribe and get our weekly newsletter in your inbox</span>
                        </div>
                        <!--end of col-->
                    </div>
                    <!--end of row-->
                    <form>
                        <div class="form-row justify-content-center">
                            <div class="col-auto col-md-5 col-lg-4">
                                <div class="form-group">
                                    <input class="form-control form-control-lg" type="email" name="email" placeholder="Email Address" />
                                    <small>We will never share your email address</small>
                                </div>
                            </div>
                            <div class="col-auto">
                                <button type="submit" class="btn btn-lg btn-primary">Subscribe now</button>
                            </div>
                        </div>
                        <!--end of row-->
                    </form>
                </div>
                <!--end of container-->
            </section>
            <!--end of section-->
            <section class="flush-with-above">
                <div class="container">
                    <ul class="row mb-3 feature-list feature-list-sm">

                        <li class="col-12 col-md-6 col-lg-4">
                            <div class="card card-lg">
                                <a href="blog-grid.html#">
                                    <img class="card-img-top" src="assets/img/photo-team-desk.jpg" alt="Starting Up - A Candid Documentary">
                                </a>
                                <div class="card-body">
                                    <a href="blog-grid.html#">
                                        <h4 class="card-title mb-3">Starting Up - A Candid Documentary</h4>
                                    </a>
                                    <p class="card-text">What it’s really like trying to convert an idea into a business.</p>
                                </div>
                                <div class="card-footer card-footer-borderless">
                                    <div class="media blog-post-author">
                                        <img alt="Image" src="assets/img/avatar-male-1.jpg" class="avatar avatar-xs" />
                                        <div class="media-body">
                                            <small>Cameron Vasquez</small>
                                            <small>28th February 2018 &bull; 4 min read</small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>

                        <li class="col-12 col-md-6 col-lg-4">
                            <div class="card card-lg">
                                <a href="blog-grid.html#">
                                    <img class="card-img-top" src="assets/img/photo-man-box.jpg" alt="There is no competition">
                                </a>
                                <div class="card-body">
                                    <a href="blog-grid.html#">
                                        <h4 class="card-title mb-3">There is no competition</h4>
                                    </a>
                                    <p class="card-text">A new businesses biggest enemy is feature-envy</p>
                                </div>
                                <div class="card-footer card-footer-borderless">
                                    <div class="media blog-post-author">
                                        <img alt="Image" src="assets/img/avatar-female-1.jpg" class="avatar avatar-xs" />
                                        <div class="media-body">
                                            <small>Rebecca Canning</small>
                                            <small>29th February 2018 &bull; 3 min read</small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>

                        <li class="col-12 col-md-6 col-lg-4">
                            <div class="card card-lg">
                                <a href="blog-grid.html#">
                                    <img class="card-img-top" src="assets/img/photo-man-book.jpg" alt="Best practices in form design">
                                </a>
                                <div class="card-body">
                                    <a href="blog-grid.html#">
                                        <h4 class="card-title mb-3">Best practices in form design</h4>
                                    </a>
                                    <p class="card-text">Build forms like a boss</p>
                                </div>
                                <div class="card-footer card-footer-borderless">
                                    <div class="media blog-post-author">
                                        <img alt="Image" src="assets/img/avatar-male-2.jpg" class="avatar avatar-xs" />
                                        <div class="media-body">
                                            <small>Luke Freebody</small>
                                            <small>24th February 2018 &bull; 2 min read</small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>

                        <li class="col-12 col-md-6 col-lg-4">
                            <div class="card card-lg">
                                <a href="blog-grid.html#">
                                    <img class="card-img-top" src="assets/img/photo-woman-sand.jpg" alt="Tales from my first design sprint">
                                </a>
                                <div class="card-body">
                                    <a href="blog-grid.html#">
                                        <h4 class="card-title mb-3">Tales from my first design sprint</h4>
                                    </a>
                                    <p class="card-text">Let's just say it was more of a lite-stroll.</p>
                                </div>
                                <div class="card-footer card-footer-borderless">
                                    <div class="media blog-post-author">
                                        <img alt="Image" src="assets/img/avatar-male-3.jpg" class="avatar avatar-xs" />
                                        <div class="media-body">
                                            <small>Mark Clinton</small>
                                            <small>21st February 2018 &bull; 6 min read</small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>

                        <li class="col-12 col-md-6 col-lg-4">
                            <div class="card card-lg">
                                <a href="blog-grid.html#">
                                    <img class="card-img-top" src="assets/img/photo-woman-laptop.jpg" alt="A look at prototyping for beginners">
                                </a>
                                <div class="card-body">
                                    <a href="blog-grid.html#">
                                        <h4 class="card-title mb-3">A look at prototyping for beginners</h4>
                                    </a>
                                    <p class="card-text">New to the world of prototyping? Start here.</p>
                                </div>
                                <div class="card-footer card-footer-borderless">
                                    <div class="media blog-post-author">
                                        <img alt="Image" src="assets/img/avatar-female-3.jpg" class="avatar avatar-xs" />
                                        <div class="media-body">
                                            <small>Tammy Brown</small>
                                            <small>20th February 2018 &bull; 3 min read</small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>

                        <li class="col-12 col-md-6 col-lg-4">
                            <div class="card card-lg">
                                <a href="blog-grid.html#">
                                    <img class="card-img-top" src="assets/img/photo-couple-couch.jpg" alt="Navigating compliance for startups">
                                </a>
                                <div class="card-body">
                                    <a href="blog-grid.html#">
                                        <h4 class="card-title mb-3">Navigating compliance for startups</h4>
                                    </a>
                                    <p class="card-text">Thoughts from our business manager</p>
                                </div>
                                <div class="card-footer card-footer-borderless">
                                    <div class="media blog-post-author">
                                        <img alt="Image" src="assets/img/avatar-male-1.jpg" class="avatar avatar-xs" />
                                        <div class="media-body">
                                            <small>Cameron Vasquez</small>
                                            <small>14th February 2018 &bull; 5 min read</small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>

                    </ul>
                    <!--end of row-->
                    <div class="row justify-content-center">
                        <div class="col-auto">
                            <nav aria-label="Page navigation example">
                                <ul class="pagination">
                                    <li class="page-item disabled">
                                        <a class="page-link" href="blog-grid.html#" aria-label="Previous">
                                            <span aria-hidden="true"><i class="icon-chevron-left"></i>
                                            </span>
                                            <span class="sr-only">Previous</span>
                                        </a>
                                    </li>
                                    <li class="page-item active"><a class="page-link" href="blog-grid.html#">1</a>
                                    </li>
                                    <li class="page-item"><a class="page-link" href="blog-grid.html#">2</a>
                                    </li>
                                    <li class="page-item"><a class="page-link" href="blog-grid.html#">3</a>
                                    </li>
                                    <li class="page-item">
                                        <a class="page-link" href="blog-grid.html#" aria-label="Next">
                                            <span aria-hidden="true"><i class="icon-chevron-right"></i>
                                            </span>
                                            <span class="sr-only">Next</span>
                                        </a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                        <!--end of col-->
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </section>
            <!--end of section-->
            <footer class="bg-gray text-light footer-long">
                <div class="container">
                    <div class="row">
                        <div class="col-12 col-md-3">
                            <img alt="Image" src="assets/img/logo-white.svg" class="mb-4" />
                            <p class="text-muted">
                                &copy; 2018 Medium Rare
                                <br />Template available exclusively
                                <br />at Bootstrap Themes
                            </p>
                        </div>
                        <!--end of col-->
                        <div class="col-12 col-md-9">
                            <span class="h5">A robust suite of styled components for Bootstrap 4</span>
                            <div class="row no-gutters">
                                <div class="col-6 col-lg-3">
                                    <h6>Navigate</h6>
                                    <ul class="list-unstyled">
                                        <li>
                                            <a href="index.html">Overview</a>
                                        </li>
                                        <li>
                                            <a href="pages-landing.html">Landing Pages</a>
                                        </li>
                                        <li>
                                            <a href="pages-app.html">App Pages</a>
                                        </li>
                                        <li>
                                            <a href="pages-inner.html">Inner Pages</a>
                                        </li>
                                    </ul>
                                </div>
                                <!--end of col-->
                                <div class="col-6 col-lg-3">
                                    <h6>Platform</h6>
                                    <ul class="list-unstyled">
                                        <li>
                                            <a href="blog-grid.html#">Mac OS &amp; iOS</a>
                                        </li>
                                        <li>
                                            <a href="blog-grid.html#">Android &amp; Chrome OS</a>
                                        </li>
                                        <li>
                                            <a href="blog-grid.html#">Windows</a>
                                        </li>
                                        <li>
                                            <a href="blog-grid.html#">Linux</a>
                                        </li>
                                    </ul>
                                </div>
                                <!--end of col-->
                                <div class="col-6 col-lg-3">
                                    <h6>Community</h6>
                                    <ul class="list-unstyled">
                                        <li>
                                            <a href="blog-grid.html#">Forum</a>
                                        </li>
                                        <li>
                                            <a href="blog-grid.html#">Knowledgebase</a>
                                        </li>
                                        <li>
                                            <a href="blog-grid.html#">Hire an expert</a>
                                        </li>
                                        <li>
                                            <a href="blog-grid.html#">FAQ</a>
                                        </li>
                                        <li>
                                            <a href="blog-grid.html#">Contact</a>
                                        </li>
                                    </ul>
                                </div>
                                <!--end of col-->
                                <div class="col-6 col-lg-3">
                                    <h6>Company</h6>
                                    <ul class="list-unstyled">
                                        <li>
                                            <a href="blog-grid.html#">About company</a>
                                        </li>
                                        <li>
                                            <a href="blog-grid.html#">History</a>
                                        </li>
                                        <li>
                                            <a href="blog-grid.html#">Team</a>
                                        </li>
                                        <li>
                                            <a href="blog-grid.html#">Investment</a>
                                        </li>
                                    </ul>
                                </div>
                                <!--end of col-->
                            </div>
                            <!--end of row-->
                        </div>
                        <!--end of col-->
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </footer>
        </div>



        <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.13.0/umd/popper.min.js"></script>
        <script type="text/javascript" src="assets/js/jquery.smartWizard.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/flickity/2.0.10/flickity.pkgd.min.js"></script>
        <script type="text/javascript" src="assets/js/scrollMonitor.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/smooth-scroll/12.1.5/js/smooth-scroll.polyfills.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.10.0/prism.min.js"></script>
        <script type="text/javascript" src="assets/js/zoom.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="assets/js/theme.js"></script>

    </body>

</html>
