<!doctype html>
<html lang="en">

    <head>

        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-52115242-13"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
              function gtag(){dataLayer.push(arguments);}
              gtag('js', new Date());
            
              gtag('config', 'UA-52115242-13');
        </script>

        <meta charset="utf-8">
        <title>Wingman Bootstrap Theme</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="A robust suite of app and landing page templates by Medium Rare">
        <link href="https://fonts.googleapis.com/css?family=Rubik:300,400,400i,500" rel="stylesheet">
        <link href="assets/css/socicon.css" rel="stylesheet" type="text/css" media="all" />
        <link href="assets/css/entypo.css" rel="stylesheet" type="text/css" media="all" />
        <link href="assets/css/theme.css" rel="stylesheet" type="text/css" media="all" />
    </head>

    <body>

        <div class="nav-container">
            <div class="bg-dark navbar-dark" data-sticky="top">
                <div class="container">
                    <nav class="navbar navbar-expand-lg">
                        <a class="navbar-brand" href="index.html">
                            <img alt="Wingman" src="assets/img/logo-white.svg" />
                        </a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                            <i class="icon-menu h4"></i>
                        </button>
                        <div class="collapse navbar-collapse justify-content-between" id="navbarNav">
                            <ul class="navbar-nav">
                                <li class="nav-item">
                                    <a href="index.html" class="nav-link">Overview</a>
                                </li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="case-studies.html#" id="pagesDropdown" role="button" data-toggle="dropdown">Pages</a>
                                    <div class="dropdown-menu" aria-labelledby="pagesDropdown">

                                        <a class="dropdown-item" href="pages-landing.html">
                                            <span class="h6 mb-0">Landing Pages</span>
                                            <p class="text-small text-muted">Showcase your product in style</p>
                                        </a>

                                        <div class="dropdown-divider"></div>


                                        <a class="dropdown-item" href="pages-app.html">
                                            <span class="h6 mb-0">App Pages</span>
                                            <p class="text-small text-muted">Build detailed, functional web apps</p>
                                        </a>

                                        <div class="dropdown-divider"></div>


                                        <a class="dropdown-item" href="pages-inner.html">
                                            <span class="h6 mb-0">Inner Pages</span>
                                            <p class="text-small text-muted">Complete your online presence</p>
                                        </a>


                                    </div>
                                </li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="case-studies.html#" id="componentsDropdown" role="button" data-toggle="dropdown">Components</a>
                                    <div class="dropdown-menu" aria-labelledby="componentsDropdown">

                                        <a class="dropdown-item" href="components-bootstrap.html">Bootstrap</a>

                                        <a class="dropdown-item" href="components-wingman.html">Wingman</a>

                                    </div>
                                </li>
                            </ul>

                            <ul class="navbar-nav">
                                <li class="nav-item">
                                    <a href="case-studies.html#">Sign up</a>
                                    <span>&nbsp;or&nbsp;</span><a href="case-studies.html#">Sign in</a>
                                </li>
                            </ul>

                        </div>
                        <!--end nav collapse-->
                    </nav>
                </div>
                <!--end of container-->
            </div>
        </div>
        <div class="main-container">
            <nav aria-label="breadcrumb" role="navigation" class="bg-primary text-white">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="index.html">Home</a>
                                </li>
                                <li class="breadcrumb-item"><a href="pages-inner.html">Inner Pages</a>
                                </li>


                                <li class="breadcrumb-item active" aria-current="page">Case Studies</li>
                            </ol>
                        </div>
                        <!--end of col-->
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </nav>
            <section>
                <div class="container">
                    <div class="row justify-content-center text-center section-intro">
                        <div class="col-12 col-md-9 col-lg-8">
                            <span class="title-decorative">Success Stories</span>
                            <h2 class="display-4">They did it with Wingman</h2>
                            <span class="lead">We’re a growing team of passionate designers and developers looking to disrupt the industry with our bold endeavours</span>

                        </div>
                        <!--end of col-->
                    </div>
                    <!--end of row-->
                    <ul class="feature-list feature-list-sm row">

                        <li class="col-12">
                            <a href="case-studies.html#" class="case-study">
                                <div class="card card-lg bg-dark text-white">
                                    <img alt="Image" src="assets/img/photo-couple-couch.jpg" class="bg-image opacity-40" />
                                    <div class="card-body">
                                        <div>
                                            <img alt="Image" src="assets/img/logo-pitstop.svg" />
                                        </div>
                                        <span class="h2">“The ability to quickly assemble compelling pages quickly has been a game changer.”</span>
                                        <span>Pitstop launched their MVP in under 3 months with Wingman</span>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <!--end of col-->

                        <li class="col-12">
                            <a href="case-studies.html#" class="case-study">
                                <div class="card card-lg bg-dark text-white">
                                    <img alt="Image" src="assets/img/photo-man-book.jpg" class="bg-image opacity-40" />
                                    <div class="card-body">
                                        <div>
                                            <img alt="Image" src="assets/img/logo-bench.svg" />
                                        </div>
                                        <span class="h2">“Having tried multiple template solutions in the past - we were skeptical...”</span>
                                        <span>Bench built their business-facing invoicing system with Wingman.</span>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <!--end of col-->

                        <li class="col-12">
                            <a href="case-studies.html#" class="case-study">
                                <div class="card card-lg bg-dark text-white">
                                    <img alt="Image" src="assets/img/photo-man-box.jpg" class="bg-image opacity-40" />
                                    <div class="card-body">
                                        <div>
                                            <img alt="Image" src="assets/img/logo-movend.svg" />
                                        </div>
                                        <span class="h2">“Getting the product into customers hands quickly was important, enter Wingman!”</span>
                                        <span>Movend delivered their customers a more streamlined moving experience.</span>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <!--end of col-->

                    </ul>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </section>
            <!--end of section-->
            <section class="bg-dark">
                <div class="container">
                    <div class="row section-intro">
                        <div class="col-12 text-center">
                            <h3 class="h1">Don’t even wait, sign up now for a 30 day trial.</h3>
                        </div>
                        <!--end of col-->
                    </div>
                    <!--end of row-->
                    <form>
                        <div class="row">
                            <div class="col-12 col-sm-6 col-lg-3">
                                <div class="form-group">
                                    <label for="username">Username</label>
                                    <input id="username" type="text" class="form-control form-control-lg" placeholder="Pick a username">
                                </div>
                            </div>
                            <div class="col-12 col-sm-6 col-lg-3">
                                <div class="form-group">
                                    <label for="email">Email Address</label>
                                    <input id="email" type="email" class="form-control form-control-lg" placeholder="you@domain.com">
                                </div>
                            </div>
                            <div class="col-12 col-sm-6 col-lg-3">
                                <div class="form-group">
                                    <label for="password">Password</label>
                                    <input id="password" type="password" class="form-control form-control-lg" placeholder="Choose a password">
                                    <small class="form-text">At least seven letters with one numeral</small>
                                </div>
                            </div>
                            <div class="col-12 col-sm-6 col-lg-3">
                                <div class="form-group">
                                    <label for="button">&nbsp;</label>
                                    <button id="button" type="submit" class="btn btn-lg btn-block btn-success">Sign up for Wingman</button>
                                </div>
                            </div>
                        </div>
                        <!--end of row-->
                    </form>
                </div>
                <!--end of container-->
            </section>
            <!--end of section-->
            <footer class="bg-gray text-light footer-long">
                <div class="container">
                    <div class="row">
                        <div class="col-12 col-md-3">
                            <img alt="Image" src="assets/img/logo-white.svg" class="mb-4" />
                            <p class="text-muted">
                                &copy; 2018 Medium Rare
                                <br />Template available exclusively
                                <br />at Bootstrap Themes
                            </p>
                        </div>
                        <!--end of col-->
                        <div class="col-12 col-md-9">
                            <span class="h5">A robust suite of styled components for Bootstrap 4</span>
                            <div class="row no-gutters">
                                <div class="col-6 col-lg-3">
                                    <h6>Navigate</h6>
                                    <ul class="list-unstyled">
                                        <li>
                                            <a href="index.html">Overview</a>
                                        </li>
                                        <li>
                                            <a href="pages-landing.html">Landing Pages</a>
                                        </li>
                                        <li>
                                            <a href="pages-app.html">App Pages</a>
                                        </li>
                                        <li>
                                            <a href="pages-inner.html">Inner Pages</a>
                                        </li>
                                    </ul>
                                </div>
                                <!--end of col-->
                                <div class="col-6 col-lg-3">
                                    <h6>Platform</h6>
                                    <ul class="list-unstyled">
                                        <li>
                                            <a href="case-studies.html#">Mac OS &amp; iOS</a>
                                        </li>
                                        <li>
                                            <a href="case-studies.html#">Android &amp; Chrome OS</a>
                                        </li>
                                        <li>
                                            <a href="case-studies.html#">Windows</a>
                                        </li>
                                        <li>
                                            <a href="case-studies.html#">Linux</a>
                                        </li>
                                    </ul>
                                </div>
                                <!--end of col-->
                                <div class="col-6 col-lg-3">
                                    <h6>Community</h6>
                                    <ul class="list-unstyled">
                                        <li>
                                            <a href="case-studies.html#">Forum</a>
                                        </li>
                                        <li>
                                            <a href="case-studies.html#">Knowledgebase</a>
                                        </li>
                                        <li>
                                            <a href="case-studies.html#">Hire an expert</a>
                                        </li>
                                        <li>
                                            <a href="case-studies.html#">FAQ</a>
                                        </li>
                                        <li>
                                            <a href="case-studies.html#">Contact</a>
                                        </li>
                                    </ul>
                                </div>
                                <!--end of col-->
                                <div class="col-6 col-lg-3">
                                    <h6>Company</h6>
                                    <ul class="list-unstyled">
                                        <li>
                                            <a href="case-studies.html#">About company</a>
                                        </li>
                                        <li>
                                            <a href="case-studies.html#">History</a>
                                        </li>
                                        <li>
                                            <a href="case-studies.html#">Team</a>
                                        </li>
                                        <li>
                                            <a href="case-studies.html#">Investment</a>
                                        </li>
                                    </ul>
                                </div>
                                <!--end of col-->
                            </div>
                            <!--end of row-->
                        </div>
                        <!--end of col-->
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </footer>
        </div>



        <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.13.0/umd/popper.min.js"></script>
        <script type="text/javascript" src="assets/js/jquery.smartWizard.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/flickity/2.0.10/flickity.pkgd.min.js"></script>
        <script type="text/javascript" src="assets/js/scrollMonitor.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/smooth-scroll/12.1.5/js/smooth-scroll.polyfills.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.10.0/prism.min.js"></script>
        <script type="text/javascript" src="assets/js/zoom.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="assets/js/theme.js"></script>

    </body>

</html>
