<!doctype html>
<html lang="en">

    <head>

        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-52115242-13"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
              function gtag(){dataLayer.push(arguments);}
              gtag('js', new Date());
            
              gtag('config', 'UA-52115242-13');
        </script>

        <meta charset="utf-8">
        <title>Wingman Bootstrap Theme</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="A robust suite of app and landing page templates by Medium Rare">
        <link href="https://fonts.googleapis.com/css?family=Rubik:300,400,400i,500" rel="stylesheet">
        <link href="assets/css/socicon.css" rel="stylesheet" type="text/css" media="all" />
        <link href="assets/css/entypo.css" rel="stylesheet" type="text/css" media="all" />
        <link href="assets/css/theme.css" rel="stylesheet" type="text/css" media="all" />
    </head>

    <body>

        <div class="nav-container">
            <div class="position-absolute navbar-dark" data-sticky="top">
                <div class="container">
                    <nav class="navbar navbar-expand-lg">
                        <a class="navbar-brand" href="index.html">
                            <img alt="Wingman" src="assets/img/logo-white.svg" />
                        </a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                            <i class="icon-menu h4"></i>
                        </button>
                        <div class="collapse navbar-collapse justify-content-between" id="navbarNav">
                            <ul class="navbar-nav">
                                <li class="nav-item">
                                    <a href="index.html" class="nav-link">Overview</a>
                                </li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="landing-6.html#" id="pagesDropdown" role="button" data-toggle="dropdown">Pages</a>
                                    <div class="dropdown-menu" aria-labelledby="pagesDropdown">

                                        <a class="dropdown-item" href="pages-landing.html">
                                            <span class="h6 mb-0">Landing Pages</span>
                                            <p class="text-small text-muted">Showcase your product in style</p>
                                        </a>

                                        <div class="dropdown-divider"></div>


                                        <a class="dropdown-item" href="pages-app.html">
                                            <span class="h6 mb-0">App Pages</span>
                                            <p class="text-small text-muted">Build detailed, functional web apps</p>
                                        </a>

                                        <div class="dropdown-divider"></div>


                                        <a class="dropdown-item" href="pages-inner.html">
                                            <span class="h6 mb-0">Inner Pages</span>
                                            <p class="text-small text-muted">Complete your online presence</p>
                                        </a>


                                    </div>
                                </li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="landing-6.html#" id="componentsDropdown" role="button" data-toggle="dropdown">Components</a>
                                    <div class="dropdown-menu" aria-labelledby="componentsDropdown">

                                        <a class="dropdown-item" href="components-bootstrap.html">Bootstrap</a>

                                        <a class="dropdown-item" href="components-wingman.html">Wingman</a>

                                    </div>
                                </li>
                            </ul>

                            <ul class="navbar-nav">
                                <li class="nav-item">
                                    <a href="landing-6.html#">Sign up</a>
                                    <span>&nbsp;or&nbsp;</span><a href="landing-6.html#">Sign in</a>
                                </li>
                            </ul>

                        </div>
                        <!--end nav collapse-->
                    </nav>
                </div>
                <!--end of container-->
            </div>
        </div>
        <div class="main-container">
            <section class="bg-dark text-white height-70">
                <img alt="Image" src="assets/img/photo-man-whiteboard.jpg" class="bg-image opacity-70" />
                <div class="container">
                    <div class="row">
                        <div class="col-12 col-md-9 col-lg-5">
                            <h1 class="display-3">Ready, Set, Grow.</h1>
                            <span class="lead">A robust suite of styled components, powered by Bootstrap 4.  Take the design of your website or webapp up a notch.</span>
                            <a href="landing-6.html#" class="btn btn-success btn-lg">Get started now</a>
                        </div>
                        <!--end of col-->
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </section>
            <!--end of section-->
            <section>
                <div class="container">
                    <div class="row justify-content-between mb-5">
                        <div class="col-auto">
                            <h3>Featured Items</h3>
                        </div>
                        <!--end of col-->
                        <div class="col-auto">
                            <a href="landing-6.html#" class="btn btn-outline-primary">View all</a>
                        </div>
                        <!--end of col-->
                    </div>
                    <!--end of row-->
                    <ul class="row feature-list feature-list-sm">

                        <li class="col-12 col-md-6 col-lg-4">
                            <div class="card">
                                <a href="landing-6.html#">
                                    <img class="card-img-top" src="assets/img/graphic-product-sidekick.jpg" alt="Card image cap">
                                </a>
                                <div class="card-body">
                                    <a href="landing-6.html#">
                                        <h4 class="card-title">Sidekick</h4>
                                        <p class="card-text text-body">Holistic fitness tracking</p>
                                    </a>
                                </div>
                                <div class="card-footer card-footer-borderless d-flex justify-content-between">
                                    <div class="text-small">
                                        <ul class="list-inline">
                                            <li class="list-inline-item"><i class="icon-heart"></i> 221</li>
                                            <li class="list-inline-item"><i class="icon-message"></i> 14</li>
                                        </ul>
                                    </div>
                                    <div class="dropup">
                                        <button class="btn btn-sm btn-outline-primary dropdown-toggle dropdown-toggle-no-arrow" type="button" id="SidekickButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i class="icon-dots-three-horizontal"></i>
                                        </button>
                                        <div class="dropdown-menu dropdown-menu-sm" aria-labelledby="SidekickButton">
                                            <a class="dropdown-item" href="landing-6.html#">Save</a>
                                            <a class="dropdown-item" href="landing-6.html#">Share</a>
                                            <a class="dropdown-item" href="landing-6.html#">Comment</a>
                                            <div class="dropdown-divider"></div>
                                            <a class="dropdown-item" href="landing-6.html#">Report</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <!--end of col-->

                        <li class="col-12 col-md-6 col-lg-4">
                            <div class="card">
                                <a href="landing-6.html#">
                                    <img class="card-img-top" src="assets/img/graphic-product-pitstop.jpg" alt="Card image cap">
                                </a>
                                <div class="card-body">
                                    <a href="landing-6.html#">
                                        <h4 class="card-title">Pitstop</h4>
                                        <p class="card-text text-body">Browser-based project management</p>
                                    </a>
                                </div>
                                <div class="card-footer card-footer-borderless d-flex justify-content-between">
                                    <div class="text-small">
                                        <ul class="list-inline">
                                            <li class="list-inline-item"><i class="icon-heart"></i> 90</li>
                                            <li class="list-inline-item"><i class="icon-message"></i> 34</li>
                                        </ul>
                                    </div>
                                    <div class="dropup">
                                        <button class="btn btn-sm btn-outline-primary dropdown-toggle dropdown-toggle-no-arrow" type="button" id="PitstopButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i class="icon-dots-three-horizontal"></i>
                                        </button>
                                        <div class="dropdown-menu dropdown-menu-sm" aria-labelledby="PitstopButton">
                                            <a class="dropdown-item" href="landing-6.html#">Save</a>
                                            <a class="dropdown-item" href="landing-6.html#">Share</a>
                                            <a class="dropdown-item" href="landing-6.html#">Comment</a>
                                            <div class="dropdown-divider"></div>
                                            <a class="dropdown-item" href="landing-6.html#">Report</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <!--end of col-->

                        <li class="col-12 col-md-6 col-lg-4">
                            <div class="card">
                                <a href="landing-6.html#">
                                    <img class="card-img-top" src="assets/img/graphic-product-pipeline.jpg" alt="Card image cap">
                                </a>
                                <div class="card-body">
                                    <a href="landing-6.html#">
                                        <h4 class="card-title">pipeline.js</h4>
                                        <p class="card-text text-body">Snappy UI interaction library with flexible API</p>
                                    </a>
                                </div>
                                <div class="card-footer card-footer-borderless d-flex justify-content-between">
                                    <div class="text-small">
                                        <ul class="list-inline">
                                            <li class="list-inline-item"><i class="icon-heart"></i> 84</li>
                                            <li class="list-inline-item"><i class="icon-message"></i> 25</li>
                                        </ul>
                                    </div>
                                    <div class="dropup">
                                        <button class="btn btn-sm btn-outline-primary dropdown-toggle dropdown-toggle-no-arrow" type="button" id="pipeline.jsButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i class="icon-dots-three-horizontal"></i>
                                        </button>
                                        <div class="dropdown-menu dropdown-menu-sm" aria-labelledby="pipeline.jsButton">
                                            <a class="dropdown-item" href="landing-6.html#">Save</a>
                                            <a class="dropdown-item" href="landing-6.html#">Share</a>
                                            <a class="dropdown-item" href="landing-6.html#">Comment</a>
                                            <div class="dropdown-divider"></div>
                                            <a class="dropdown-item" href="landing-6.html#">Report</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <!--end of col-->

                    </ul>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </section>
            <!--end of section-->
            <section>
                <div class="container">
                    <div class="row justify-content-center text-center section-intro">
                        <div class="col-12 col-md-9 col-lg-8">
                            <span class="title-decorative">Meet The Future</span>
                            <h2 class="display-4">Introducing a new way</h2>
                            <span class="lead">An opportunity to introduce the major benefits of your product and set the scene for what's to come</span>

                        </div>
                        <!--end of col-->
                    </div>
                    <!--end of row-->
                    <div class="row justify-content-center">
                        <div class="col-md-8 col-sm-10">
                            <div class="video-cover rounded">
                                <img alt="Image" src="assets/img/photo-man-phone.jpg" class="bg-image" />
                                <div class="video-play-icon">
                                    <i class="icon-controller-play"></i>
                                </div>
                                <div class="embed-responsive embed-responsive-16by9">
                                    <iframe class="embed-responsive-item" data-src="https://www.youtube.com/embed/oYqvpjKJZkU?autoplay=1&amp;mute=1&amp;showinfo=0&amp;rel=0" allowfullscreen></iframe>
                                </div>
                            </div>
                            <!--end of video cover-->
                        </div>
                        <!--end of col-->
                    </div>
                    <!--end of row-->
                    <div class="row justify-content-center text-center section-outro">
                        <div class="col-lg-4 col-md-5">
                            <h6>Introducing a new way</h6>
                            <p>An opportunity to introduce the major benefits of your product and set the scene for what's to come</p>
                            <a href="landing-6.html#">View more features &rsaquo;</a>
                        </div>
                        <!--end of col-->
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </section>
            <!--end of section-->
            <section>
                <div class="container">
                    <div class="row justify-content-center text-center section-intro">
                        <div class="col-12 col-md-9 col-lg-8">
                            <span class="title-decorative">Built for Performance</span>
                            <h2 class="display-4">Heavy on swish looks</h2>
                            <span class="lead">An opportunity to introduce the major benefits of your product and set the scene for what's to come</span>

                        </div>
                        <!--end of col-->
                    </div>
                    <!--end of row-->
                    <ul class="row feature-list feature-list-lg">
                        <li class="col-12 col-md-6">
                            <div class="media align-items-center">
                                <a href="landing-6.html#">
                                    <img alt="Image" class="avatar avatar-lg mr-4" src="assets/img/graphic-developer-bootstrap.png" />
                                </a>
                                <div class="media-body">
                                    <a href="landing-6.html#">Based on Bootstrap 4</a>
                                    <p class="mt-3">
                                        A short description of the aforementioned facet to easily digest, no need for too much detail.
                                    </p>
                                </div>
                            </div>
                        </li>
                        <!--end of col-->
                        <li class="col-12 col-md-6">
                            <div class="media align-items-center">
                                <a href="landing-6.html#">
                                    <img alt="Image" class="avatar avatar-lg mr-4" src="assets/img/graphic-developer-gulp.png" />
                                </a>
                                <div class="media-body">
                                    <a href="landing-6.html#">Gulp Workflow</a>
                                    <p class="mt-3">
                                        A short description of the aforementioned facet to easily digest, no need for too much detail.
                                    </p>
                                </div>
                            </div>
                        </li>
                        <!--end of col-->
                        <li class="col-12 col-md-6">
                            <div class="media align-items-center">
                                <a href="landing-6.html#">
                                    <img alt="Image" class="avatar avatar-lg mr-4" src="assets/img/graphic-developer-sass.png" />
                                </a>
                                <div class="media-body">
                                    <a href="landing-6.html#">Styled with Sass</a>
                                    <p class="mt-3">
                                        A short description of the aforementioned facet to easily digest, no need for too much detail.
                                    </p>
                                </div>
                            </div>
                        </li>
                        <!--end of col-->
                        <li class="col-12 col-md-6">
                            <div class="media align-items-center">
                                <a href="landing-6.html#">
                                    <img alt="Image" class="avatar avatar-lg mr-4" src="assets/img/graphic-developer-html5.png" />
                                </a>
                                <div class="media-body">
                                    <a href="landing-6.html#">Built with HTML5</a>
                                    <p class="mt-3">
                                        A short description of the aforementioned facet to easily digest, no need for too much detail.
                                    </p>
                                </div>
                            </div>
                        </li>
                        <!--end of col-->
                    </ul>
                    <!--end of row-->
                    <div class="row justify-content-center text-center section-outro">
                        <div class="col-lg-4 col-md-5">
                            <h6>Introducing a new way</h6>
                            <p>An opportunity to introduce the major benefits of your product and set the scene for what's to come</p>
                            <a href="landing-6.html#">View more features &rsaquo;</a>
                        </div>
                        <!--end of col-->
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </section>
            <!--end of section-->
            <section>
                <div class="container">
                    <div class="row justify-content-between mb-5">
                        <div class="col-auto">
                            <h3>Latest News</h3>
                        </div>
                        <!--end of col-->
                        <div class="col-auto">
                            <a href="landing-6.html#" class="btn btn-outline-primary">View all</a>
                        </div>
                        <!--end of col-->
                    </div>
                    <!--end of row-->
                    <ul class="feature-list feature-list-sm row">

                        <li class="col-12 col-md-6 col-lg-4">
                            <div class="card card-lg">
                                <a href="landing-6.html#">
                                    <img class="card-img-top" src="assets/img/photo-team-desk.jpg" alt="Starting Up - A Candid Documentary">
                                </a>
                                <div class="card-body">
                                    <a href="landing-6.html#">
                                        <h4 class="card-title mb-3">Starting Up - A Candid Documentary</h4>
                                    </a>
                                    <p class="card-text">What it’s really like trying to convert an idea into a business.</p>
                                </div>
                                <div class="card-footer card-footer-borderless">
                                    <div class="media blog-post-author">
                                        <img alt="Image" src="assets/img/avatar-male-1.jpg" class="avatar avatar-xs" />
                                        <div class="media-body">
                                            <small>Cameron Vasquez</small>
                                            <small>28th February 2018 &bull; 4 min read</small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>

                        <li class="col-12 col-md-6 col-lg-4">
                            <div class="card card-lg">
                                <a href="landing-6.html#">
                                    <img class="card-img-top" src="assets/img/photo-man-box.jpg" alt="There is no competition">
                                </a>
                                <div class="card-body">
                                    <a href="landing-6.html#">
                                        <h4 class="card-title mb-3">There is no competition</h4>
                                    </a>
                                    <p class="card-text">A new businesses biggest enemy is feature-envy</p>
                                </div>
                                <div class="card-footer card-footer-borderless">
                                    <div class="media blog-post-author">
                                        <img alt="Image" src="assets/img/avatar-female-1.jpg" class="avatar avatar-xs" />
                                        <div class="media-body">
                                            <small>Rebecca Canning</small>
                                            <small>29th February 2018 &bull; 3 min read</small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>

                        <li class="col-12 col-md-6 col-lg-4">
                            <div class="card card-lg">
                                <a href="landing-6.html#">
                                    <img class="card-img-top" src="assets/img/photo-man-book.jpg" alt="Best practices in form design">
                                </a>
                                <div class="card-body">
                                    <a href="landing-6.html#">
                                        <h4 class="card-title mb-3">Best practices in form design</h4>
                                    </a>
                                    <p class="card-text">Build forms like a boss</p>
                                </div>
                                <div class="card-footer card-footer-borderless">
                                    <div class="media blog-post-author">
                                        <img alt="Image" src="assets/img/avatar-male-2.jpg" class="avatar avatar-xs" />
                                        <div class="media-body">
                                            <small>Luke Freebody</small>
                                            <small>24th February 2018 &bull; 2 min read</small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>

                    </ul>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </section>
            <!--end of section-->
            <section class="space-xlg bg-gradient text-white">
                <div class="container">
                    <div class="row text-center">
                        <div class="col">
                            <h3 class="h1">Start building feature-rich websites</h3>
                            <a href="https://themes.getbootstrap.com/product/wingman-landing-page-app-template" class="btn btn-lg btn-success">Purchase Now</a>
                        </div>
                        <!--end of col-->
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </section>
            <!--end of section-->
            <footer class="bg-gray text-light footer-long">
                <div class="container">
                    <div class="row">
                        <div class="col-12 col-md-3">
                            <img alt="Image" src="assets/img/logo-white.svg" class="mb-4" />
                            <p class="text-muted">
                                &copy; 2018 Medium Rare
                                <br />Template available exclusively
                                <br />at Bootstrap Themes
                            </p>
                        </div>
                        <!--end of col-->
                        <div class="col-12 col-md-9">
                            <span class="h5">A robust suite of styled components for Bootstrap 4</span>
                            <div class="row no-gutters">
                                <div class="col-6 col-lg-3">
                                    <h6>Navigate</h6>
                                    <ul class="list-unstyled">
                                        <li>
                                            <a href="index.html">Overview</a>
                                        </li>
                                        <li>
                                            <a href="pages-landing.html">Landing Pages</a>
                                        </li>
                                        <li>
                                            <a href="pages-app.html">App Pages</a>
                                        </li>
                                        <li>
                                            <a href="pages-inner.html">Inner Pages</a>
                                        </li>
                                    </ul>
                                </div>
                                <!--end of col-->
                                <div class="col-6 col-lg-3">
                                    <h6>Platform</h6>
                                    <ul class="list-unstyled">
                                        <li>
                                            <a href="landing-6.html#">Mac OS &amp; iOS</a>
                                        </li>
                                        <li>
                                            <a href="landing-6.html#">Android &amp; Chrome OS</a>
                                        </li>
                                        <li>
                                            <a href="landing-6.html#">Windows</a>
                                        </li>
                                        <li>
                                            <a href="landing-6.html#">Linux</a>
                                        </li>
                                    </ul>
                                </div>
                                <!--end of col-->
                                <div class="col-6 col-lg-3">
                                    <h6>Community</h6>
                                    <ul class="list-unstyled">
                                        <li>
                                            <a href="landing-6.html#">Forum</a>
                                        </li>
                                        <li>
                                            <a href="landing-6.html#">Knowledgebase</a>
                                        </li>
                                        <li>
                                            <a href="landing-6.html#">Hire an expert</a>
                                        </li>
                                        <li>
                                            <a href="landing-6.html#">FAQ</a>
                                        </li>
                                        <li>
                                            <a href="landing-6.html#">Contact</a>
                                        </li>
                                    </ul>
                                </div>
                                <!--end of col-->
                                <div class="col-6 col-lg-3">
                                    <h6>Company</h6>
                                    <ul class="list-unstyled">
                                        <li>
                                            <a href="landing-6.html#">About company</a>
                                        </li>
                                        <li>
                                            <a href="landing-6.html#">History</a>
                                        </li>
                                        <li>
                                            <a href="landing-6.html#">Team</a>
                                        </li>
                                        <li>
                                            <a href="landing-6.html#">Investment</a>
                                        </li>
                                    </ul>
                                </div>
                                <!--end of col-->
                            </div>
                            <!--end of row-->
                        </div>
                        <!--end of col-->
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </footer>
        </div>



        <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.13.0/umd/popper.min.js"></script>
        <script type="text/javascript" src="assets/js/jquery.smartWizard.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/flickity/2.0.10/flickity.pkgd.min.js"></script>
        <script type="text/javascript" src="assets/js/scrollMonitor.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/smooth-scroll/12.1.5/js/smooth-scroll.polyfills.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.10.0/prism.min.js"></script>
        <script type="text/javascript" src="assets/js/zoom.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="assets/js/theme.js"></script>

    </body>

</html>
