        <script type="embedded-js" role="control-script">
            {
                "initControl": function(data) {
                    console.log("/controls/nav.html loaded and bound data is available.");
                    this.subnavData = {
                        subnavItems: ["Tom", "Dick", "Harry"]
                    }
                }

            }
        </script>
        <div class="nav-container">
            <div class="bg-light navbar-primary" data-sticky="top">
                <div class="container">
                    <nav class="navbar navbar-expand-lg">
                        <a class="navbar-brand" href="index.html">
                            <img alt="Yeek Logo" src="assets/img/logo.png" />
                        </a>
                        <span style="font-size:1.5rem" class="d-lg-none"><%=pageTitle%></span>
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                            <i class="icon-menu h4"></i>
                        </button>
                        <div class="collapse navbar-collapse justify-content-between" id="navbarNav">
                            <!-- The control's datasource is organized by menu item type. The topLevel[] items are the main menu items -->
                            <ul class="navbar-nav">    
                                <% for (var i=0; i<topLevel.length; i++) {%>
                                    <li class="nav-item"><a class="nav-link" href="#"><%=topLevel[i]%></a></li>
                                <% } %>
                                <li class="nav-item"><a class="nav-link d-lg-none" href="#">My Profile</a></li>
                            </ul>                            
                        </div>
                        <!--end nav collapse-->
                    </nav>
                </div>
                <!--end of container-->
            </div>
        </div>
